{# Titre #}
<p> Planning </p>

{# Bouton retour #}
<input type="button" value="Accueil" onclick="window.location='../../index';"/>
<p></p>

{# Message enregistrement ok #}
<p>Cours enregistré avec succès.</p>

{# Formulaire #}
{{ form(form) }}

