<p> Planning </p>

<input type="button" value="Accueil" onclick="window.location='../index';"/>

<ul>
    {% for professeur in listProfesseurs %}
        <li>{{ professeur.nom }}</li>
    {% endfor %}
</ul>
