<html>
  <body>
	<p>Formulaire de saisie de professeurs</p>
    <form type="POST">
	   <label>Nom</label>
	   <input id="nom" type="text"/>
	   
	   <label>Prénom</label>
	   <input id="prenom" type="text"/>
	   
	   <label>Matière</label>
	   <select id="matiere"></select>
	   <br><br>
	   <?php
			
	   ?>
	   
	   
	   <input type="submit" value="Valider"/>
		
	</form>
  </body>
</html>